<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About us</title>
</head>
<body>
	<section>
		<h1>This is About us page.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
			quisquam quo repellat ab ipsa labore cum quam rerum quas id sint quia
			harum molestiae aperiam sed. Quia deleniti corporis numquam officiis
			ea laborum labore omnis accusamus asperiores fugiat quos laudantium
			dolores consequuntur quam suscipit eaque nihil iste accusantium velit
			culpa?</p>
	</section>
</body>
</html>